@model ErrorViewModel
@{
    ViewData["Title"] = "Ocorreu um Erro!";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<h2 class="text-danger">Ocorreu um erro! Tente novamente ou contacte um Administrador</h2>

@{ 
    if(ViewData["MensagemErro"] != null)
    {
        <br />
        <h2 class="text-danger">@ViewData["MensagemErro"]</h2>
    }
}